.App {
  text-align: center;
}

.main-container {
	position: absolute;
	top: 50px;
}

.info {
	max-width: 500px;
}

.warning {
	font-weight: bold;
	color: crimson;
}

.navbar {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.site-title {
	margin: 15px 20px 0;
	color: #000;
}

#search-input {
	margin: 10px 0;
	padding: 2px 5px;
	height: 26px;
}

.list-box {
    width: 200px;
    height: auto;
    position: absolute;
    top: 50px;
    right: 10%;
    background: grey;
    color: #fff;
    visibility: hidden;
}

ul {
	margin: 0;
	padding: 10px 0;
}

li {
	list-style-type: none;
	padding: 5px 0;
}

.show {
	visibility: visible;
}