.App {
  text-align: center;
}

.main-container {
	position: absolute;
	top: 50px;
}

.info {
	max-width: 300px;
}

.warning {
	font-weight: bold;
	color: crimson;
}

.navbar {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.site-title {
	margin: 10px 20px;
	color: #000;
}

#search-input {
	margin: 10px 0;
	padding: 2px 5px;
	height: 26px;
}

.list-box {
    min-width: 200px;
    height: auto;
    position: absolute;
    top: 50px;
    right: 10%;
    background: rgba(100,100,100, .8);
    color: #fff;
    visibility: hidden;
}

#close-btn {
	padding: 10px;
}

ul {
	margin: 0;
	padding: 10px 0;
}

li {
	list-style-type: none;
	padding: 8px 0;
	cursor: pointer;
}

li:hover {
	background: #000;
}

.show {
	visibility: visible;
}

@media screen and (max-width: 550px) {
	.main-container, .list-box {
		position: absolute;
		top: 100px;
	}

	.navbar {
		display: flex;
		flex-direction: column;
		height: 80px;
	}
}

@media screen and (max-width: 380px) {
	.site-title {
		font-size: 18px;
	}

	.list-box {
		width: 150px;	
	}
}