.App {
  text-align: center;
}

.info {
	max-width: 500px;
}

.place-photo {
	width: 200px;
	height: 180px;
}

.place-tips {
	max-width: 300px;
	margin: 0 auto;
}

.warning {
	font-weight: bold;
	color: crimson;
}

